.info_tile {
  height: 450px;
  width: 30%;
  perspective: 1000px;
  margin: 15px;
}

.info_container {
  transform: rotate(0);
  /* margin: 0 auto; */
  background-color: #fff;
  max-width: 90%;
  height: 180px;
  box-shadow: 5px 5px 20px;
  cursor: pointer;
  perspective: 100px;
  overflow: hidden;
  position: absolute;
  margin-top: 25px;
}

/* .info_tile:nth-of-type(2) .info_container {
  background: LightSteelBlue;
  bottom: 25px;
} */

#one:nth-of-type(2) .info_container{
  bottom: 25px;
}

#zero:nth-of-type(2n-1) .info_container{
  bottom: 25px;
}

.info_container:hover {
  animation: hover 1s forwards;
}

.image_container {
  height: 180px;
  width: auto;
  max-width: 100%;
  background-size: auto 100%;
  margin: 0px auto;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  font-size: 10px;
}

/* .image_container:hover {
  animation: hover_image_container 1s forwards;
  background-position: center;
} */

.info_div {
  font-size: 12px;
  font-family: sans-serif;
  line-height: 20px;
  margin: 5px 20px;
  height: 100px;
  overflow-y: scroll;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  background: rgb(211, 211, 211); /* Fallback */
  background: rgba(211, 211, 211, 0.5);
}

@keyframes hover {
  0% {
    transform: rotateY(0deg);
  }

  50% {
    transform: rotateY(-20deg);
  }

  100% {
    transform: rotateY(0deg);
    width: 420px;
    height: 300px;
  }
}

@keyframes hover_image_container {
  100% {
    width: 380px;
    margin-top: 20px;
  }
}
