button {
  background-color: #A4C7E8;
  font-size: 30px;
  padding: 16px;
  margin: 4px 2px;
  border-radius: 15px;
}

.button-div {
  display: flex;
  justify-content: center;
  /* border: 1px solid red; */
}
